<section class="answer">
    <div class="container">
        <div class="result-answer-title">
            Результат прохождения теста
            <span class="span-arrow">
                <img src="images/arrow-title.png" alt="bread-crumbs">
            </span>
            <span class="pre-answer-title" id="pre-answer-title">

            </span>
        </div>
        <div class="answer-test-title">
            <span>Правильные ответы</span> к тесту
        </div>
        <div class="user-test-complete" id="user-test-complete">
        </div>
        <div class="answer-questions" id="answer-questions">
        </div>
        <div class="back-result">
            <a href="javascript:void(0)" id="back">Обратно к моему результату теста <img src="images/small-arrow.png" alt="Стрелка"></a>
        </div>
    </div>
</section>
